<div class="app-wrapper" appTheme>
  <!--@end dashboard code-->
  <div class="app-wrapper" appTheme>
    <app-navbar></app-navbar>
      <div id="first-header">
        <button class="switchThemeButton" (click)="navigateToCreateForms()" data-toggle="modal" data-target="#addNotesModel"> + </button>
      </div>
      <!--Adding dashboard code here-->
      <div class="container-fluid px-lg-5">
        <div class="row" *ngIf="formData?.length>0; else falsyTemplate">
            <div class="col-lg-4 col-md-6 d-flex" *ngFor="let form of formData;">
              <div class="blog-card w-100">
                <div class="description">
                  <h1>{{form.formName}}</h1>
                  <p class="read-more">
                     <i style="cursor: pointer;" class="fas fa-share" (click)="generateAndShareUrl(form._id)"> Share</i>
                  </p>
                  <p class="read-more">
                    <i style="cursor: pointer;" class="fas fa-user" (click)="viewIndividualRegistrations(form._id)"> View</i>
                 </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--@end dashboard code-->
      <ng-template #falsyTemplate>
        <h4 class="animated pulse text-center"  style="animation-duration: 1s;color:#999FBF"><i class="fa fa-frown-o"></i>&nbsp;No Forms found</h4>
      </ng-template>
    </div>
</div>
